@model FacePlace.ViewModels.FriendPostsViewModel

@{
    ViewBag.Title = "FriendsProfile";
    Layout = "~/Views/Shared/_FacePlaceLayout.cshtml";
}

<h2>@Model.Friend.FirstName  @Model.Friend.LastName</h2>

   @if (!(bool)Model.IsFriend)
   {
        @Html.ActionLink("Add friend", "AddFriend", "Posts", new { username = Model.User.Username, friend = Model.Friend.Username }, new { @class = "button " })
   }


@{
    foreach (var post in Model.Posts)
    {
        <!-- Post -->
        <article class="post">
            <header>
                <div class="title">
                    <h2><a href="#">@post.Place.Name</a></h2>
                    <p>Rating: @post.Place.AverageRating</p>
                    <p>Number of votes: @post.Place.NumberOfVotes</p>
                </div>
                <div class="meta">
                    <time class="published" datetime="2015-11-01">@post.Time</time>
                    <a class = "author">@post.User.Username</a>
                </div>
            </header>
            <a href="#" class="image featured"><img src="~/images/pic01.jpg" alt="" /></a>
            <p>@post.Comment</p>
            <footer>
                <ul class="actions">
                    <li><a href="#" class="button big">Continue Reading</a></li>
                </ul>
                <ul class="stats">
                    <li><a href="#">General</a></li>
                    <li><a href="#" class="icon fa-heart">28</a></li>
                    <li><a href="#" class="icon fa-comment">128</a></li>
                </ul>
            </footer>
        </article>
                        }
}
