@model FacePlace.ViewModels.PlacePostsViewModel


@{
    ViewBag.Title = "PlacePosts";
    Layout = "~/Views/Shared/_FacePlaceLayout.cshtml";
}


@{
    foreach (var post in Model.AllPosts)
    {
        <!-- Post -->
        <article class="post">
            <header>
                <div class="title">
                    <h2>
                        @{
                            var placeName = @post.Place.Name;
                            var placeId = post.Place.Id;
                        }
                        @placeName
                    </h2>
                    <p>Rating: @post.Place.AverageRating</p>
                    <p>Number of votes: @post.Place.NumberOfVotes</p>
                </div>
                <div class="meta">
                    <label class="published">@post.Time</label>

                    @{
                        var username = @post.User.Username;
                    }
                    @Html.ActionLink(username, "FriendsPost", "Posts", new { username = username }, new { @class = "author" })
                </div>
            </header>
            <a href="#" class="image featured"><img src="~/images/pic01.jpg" alt="" /></a>
            <p>@post.Comment</p>
            <footer>
                <ul class="stats">
                    <li><a href="#">General</a></li>
                    <li><a href="#" class="icon fa-heart">28</a></li>
                    <li><a href="#" class="icon fa-comment">128</a></li>
                </ul>
            </footer>
        </article>
    }
}

